[submodule "Source/recipicker"]
	path = Source/recipicker
	url = https://github.com/liamolohan/recipicker
[submodule "Source/recipicker-backend"]
	path = Source/recipicker-backend
	url = https://github.com/liamolohan/recipicker-backend
